# Mission Stickers API
# This document describes LINE Mission Stickers API.
#
# The version of the OpenAPI document: 0.0.1
#
# NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
# https://openapi-generator.tech
# Do not edit the class manually.

require 'json'

require 'line/bot/v2/http_client'
require 'line/bot/v2/reserved_words'
require 'line/bot/v2/utils'

module Line
  module Bot
    module V2
      module Shop
        class ApiClient
          def initialize(base_url: nil, channel_access_token:)
            @http_client = HttpClient.new(
              base_url: base_url || 'https://api.line.me',
              http_headers: {
                Authorization: "Bearer #{channel_access_token}"
              }
            )
          end

          # Sends a mission sticker.
          #
          # @param mission_sticker_request 
          # @see https://developers.line.biz/en/reference/partner-docs/#send-mission-stickers-v3
          def mission_sticker_v3(
            mission_sticker_request:
          )
            path = "/shop/v3/mission"

            response = @http_client.post(
              path: path,
              body_params: mission_sticker_request,
            )

            case response.code.to_i
            when 200
              response
            else
              response
            end
          end
        end
      end
    end
  end
end
