# LINE Messaging API
# This document describes LINE Messaging API.
#
# The version of the OpenAPI document: 0.0.1
#
# NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
# https://openapi-generator.tech
# Do not edit the class manually.

require 'json'

require 'line/bot/v2/http_client'
require 'line/bot/v2/reserved_words'
require 'line/bot/v2/utils'

module Line
  module Bot
    module V2
      module MessagingApi
        class ApiClient
          def initialize(base_url: nil, channel_access_token:)
            @http_client = HttpClient.new(
              base_url: base_url || 'https://api.line.me',
              http_headers: {
                Authorization: "Bearer #{channel_access_token}"
              }
            )
          end

          # Send a message using phone number
          #
          # @param audience_match_messages_request 
          # @see https://developers.line.biz/en/reference/partner-docs/#phone-audience-match
          def audience_match(
            audience_match_messages_request:
          )
            path = "/bot/ad/multicast/phone"

            response = @http_client.post(
              path: path,
              body_params: audience_match_messages_request,
            )

            case response.code.to_i
            when 200
              response
            else
              response
            end
          end

          # Sends a message to multiple users at any time.
          #
          # @param broadcast_request 
          # @param x_line_retry_key Retry key. Specifies the UUID in hexadecimal format (e.g., `123e4567-e89b-12d3-a456-426614174000`) generated by any method. The retry key isn't generated by LINE. Each developer must generate their own retry key. 
          # @see https://developers.line.biz/en/reference/messaging-api/#send-broadcast-message
          def broadcast(
            broadcast_request:,
            x_line_retry_key: nil
          )
            path = "/v2/bot/message/broadcast"
            header_params = {
              "X-Line-Retry-Key": x_line_retry_key
            }.compact

            response = @http_client.post(
              path: path,
              body_params: broadcast_request,
              headers: header_params
            )

            case response.code.to_i
            when 200
              response
            when 400
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::ErrorResponse.new(**json)
            when 403
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::ErrorResponse.new(**json)
            when 409
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::ErrorResponse.new(**json)
            when 429
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::ErrorResponse.new(**json)
            else
              response
            end
          end

          # Cancel default rich menu
          #
          # @see https://developers.line.biz/en/reference/messaging-api/#cancel-default-rich-menu
          def cancel_default_rich_menu(
          )
            path = "/v2/bot/user/all/richmenu"

            response = @http_client.delete(
              path: path,
            )

            case response.code.to_i
            when 200
              response
            else
              response
            end
          end

          # Create rich menu
          #
          # @param rich_menu_request 
          # @see https://developers.line.biz/en/reference/messaging-api/#create-rich-menu
          def create_rich_menu(
            rich_menu_request:
          )
            path = "/v2/bot/richmenu"

            response = @http_client.post(
              path: path,
              body_params: rich_menu_request,
            )

            case response.code.to_i
            when 200
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::RichMenuIdResponse.new(**json)
            else
              response
            end
          end

          # Create rich menu alias
          #
          # @param create_rich_menu_alias_request 
          # @see https://developers.line.biz/en/reference/messaging-api/#create-rich-menu-alias
          def create_rich_menu_alias(
            create_rich_menu_alias_request:
          )
            path = "/v2/bot/richmenu/alias"

            response = @http_client.post(
              path: path,
              body_params: create_rich_menu_alias_request,
            )

            case response.code.to_i
            when 200
              response
            when 400
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::ErrorResponse.new(**json)
            else
              response
            end
          end

          # Deletes a rich menu.
          #
          # @param rich_menu_id ID of a rich menu
          # @see https://developers.line.biz/en/reference/messaging-api/#delete-rich-menu
          def delete_rich_menu(
            rich_menu_id:
          )
            path = "/v2/bot/richmenu/{richMenuId}"
              .gsub(/{richMenuId}/, rich_menu_id)

            response = @http_client.delete(
              path: path,
            )

            case response.code.to_i
            when 200
              response
            else
              response
            end
          end

          # Delete rich menu alias
          #
          # @param rich_menu_alias_id Rich menu alias ID that you want to delete.
          # @see https://developers.line.biz/en/reference/messaging-api/#delete-rich-menu-alias
          def delete_rich_menu_alias(
            rich_menu_alias_id:
          )
            path = "/v2/bot/richmenu/alias/{richMenuAliasId}"
              .gsub(/{richMenuAliasId}/, rich_menu_alias_id)

            response = @http_client.delete(
              path: path,
            )

            case response.code.to_i
            when 200
              response
            when 400
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::ErrorResponse.new(**json)
            else
              response
            end
          end

          # Get result of message delivery using phone number
          #
          # @param date Date the message was sent  Format: `yyyyMMdd` (e.g. `20190831`) Time Zone: UTC+9 
          # @see https://developers.line.biz/en/reference/partner-docs/#get-phone-audience-match
          def get_ad_phone_message_statistics(
            date:
          )
            path = "/v2/bot/message/delivery/ad_phone"
            query_params = {
              "date": date
            }.compact

            response = @http_client.get(
              path: path,
              query_params: query_params,
            )

            case response.code.to_i
            when 200
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::NumberOfMessagesResponse.new(**json)
            else
              response
            end
          end

          # Get name list of units used this month
          #
          # @param limit The maximum number of aggregation units you can get per request. 
          # @param start Value of the continuation token found in the next property of the JSON object returned in the response. If you can't get all the aggregation units in one request, include this parameter to get the remaining array. 
          # @see https://developers.line.biz/en/reference/messaging-api/#get-name-list-of-units-used-this-month
          def get_aggregation_unit_name_list(
            limit: nil,
            start: nil
          )
            path = "/v2/bot/message/aggregation/list"
            query_params = {
              "limit": limit,
              "start": start
            }.compact

            response = @http_client.get(
              path: path,
              query_params: query_params,
            )

            case response.code.to_i
            when 200
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::GetAggregationUnitNameListResponse.new(**json)
            else
              response
            end
          end

          # Get number of units used this month
          #
          # @see https://developers.line.biz/en/reference/messaging-api/#get-number-of-units-used-this-month
          def get_aggregation_unit_usage(
          )
            path = "/v2/bot/message/aggregation/info"

            response = @http_client.get(
              path: path,
            )

            case response.code.to_i
            when 200
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::GetAggregationUnitUsageResponse.new(**json)
            else
              response
            end
          end

          # Get bot info
          #
          # @see https://developers.line.biz/en/reference/messaging-api/#get-bot-info
          def get_bot_info(
          )
            path = "/v2/bot/info"

            response = @http_client.get(
              path: path,
            )

            case response.code.to_i
            when 200
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::BotInfoResponse.new(**json)
            else
              response
            end
          end

          # Gets the ID of the default rich menu set with the Messaging API.
          #
          # @see https://developers.line.biz/en/reference/messaging-api/#get-default-rich-menu-id
          def get_default_rich_menu_id(
          )
            path = "/v2/bot/user/all/richmenu"

            response = @http_client.get(
              path: path,
            )

            case response.code.to_i
            when 200
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::RichMenuIdResponse.new(**json)
            else
              response
            end
          end

          # Get a list of users who added your LINE Official Account as a friend
          #
          # @param start Value of the continuation token found in the next property of the JSON object returned in the response. Include this parameter to get the next array of user IDs. 
          # @param limit The maximum number of user IDs to retrieve in a single request.
          # @see https://developers.line.biz/en/reference/messaging-api/#get-follower-ids
          def get_followers(
            start: nil,
            limit: nil
          )
            path = "/v2/bot/followers/ids"
            query_params = {
              "start": start,
              "limit": limit
            }.compact

            response = @http_client.get(
              path: path,
              query_params: query_params,
            )

            case response.code.to_i
            when 200
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::GetFollowersResponse.new(**json)
            else
              response
            end
          end

          # Get number of users in a group chat
          #
          # @param group_id Group ID
          # @see https://developers.line.biz/en/reference/messaging-api/#get-members-group-count
          def get_group_member_count(
            group_id:
          )
            path = "/v2/bot/group/{groupId}/members/count"
              .gsub(/{groupId}/, group_id)

            response = @http_client.get(
              path: path,
            )

            case response.code.to_i
            when 200
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::GroupMemberCountResponse.new(**json)
            else
              response
            end
          end

          # Get group chat member profile
          #
          # @param group_id Group ID
          # @param user_id User ID
          # @see https://developers.line.biz/en/reference/messaging-api/#get-group-member-profile
          def get_group_member_profile(
            group_id:,
            user_id:
          )
            path = "/v2/bot/group/{groupId}/member/{userId}"
              .gsub(/{groupId}/, group_id)
              .gsub(/{userId}/, user_id)

            response = @http_client.get(
              path: path,
            )

            case response.code.to_i
            when 200
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::GroupUserProfileResponse.new(**json)
            else
              response
            end
          end

          # Get group chat member user IDs
          #
          # @param group_id Group ID
          # @param start Value of the continuation token found in the `next` property of the JSON object returned in the response. Include this parameter to get the next array of user IDs for the members of the group. 
          # @see https://developers.line.biz/en/reference/messaging-api/#get-group-member-user-ids
          def get_group_members_ids(
            group_id:,
            start: nil
          )
            path = "/v2/bot/group/{groupId}/members/ids"
              .gsub(/{groupId}/, group_id)
            query_params = {
              "start": start
            }.compact

            response = @http_client.get(
              path: path,
              query_params: query_params,
            )

            case response.code.to_i
            when 200
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::MembersIdsResponse.new(**json)
            else
              response
            end
          end

          # Get group chat summary
          #
          # @param group_id Group ID
          # @see https://developers.line.biz/en/reference/messaging-api/#get-group-summary
          def get_group_summary(
            group_id:
          )
            path = "/v2/bot/group/{groupId}/summary"
              .gsub(/{groupId}/, group_id)

            response = @http_client.get(
              path: path,
            )

            case response.code.to_i
            when 200
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::GroupSummaryResponse.new(**json)
            else
              response
            end
          end

          # Get a list of memberships.
          #
          # @see https://developers.line.biz/en/reference/messaging-api/#get-membership-plans
          def get_membership_list(
          )
            path = "/v2/bot/membership/list"

            response = @http_client.get(
              path: path,
            )

            case response.code.to_i
            when 200
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::MembershipListResponse.new(**json)
            when 404
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::ErrorResponse.new(**json)
            else
              response
            end
          end

          # Get a user's membership subscription.
          #
          # @param user_id User ID
          # @see https://developers.line.biz/en/reference/messaging-api/#get-a-users-membership-subscription-status
          def get_membership_subscription(
            user_id:
          )
            path = "/v2/bot/membership/subscription/{userId}"
              .gsub(/{userId}/, user_id)

            response = @http_client.get(
              path: path,
            )

            case response.code.to_i
            when 200
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::GetMembershipSubscriptionResponse.new(**json)
            when 400
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::ErrorResponse.new(**json)
            when 404
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::ErrorResponse.new(**json)
            else
              response
            end
          end

          # Gets the target limit for sending messages in the current month. The total number of the free messages and the additional messages is returned.
          #
          # @see https://developers.line.biz/en/reference/messaging-api/#get-quota
          def get_message_quota(
          )
            path = "/v2/bot/message/quota"

            response = @http_client.get(
              path: path,
            )

            case response.code.to_i
            when 200
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::MessageQuotaResponse.new(**json)
            else
              response
            end
          end

          # Gets the number of messages sent in the current month.
          #
          # @see https://developers.line.biz/en/reference/messaging-api/#get-consumption
          def get_message_quota_consumption(
          )
            path = "/v2/bot/message/quota/consumption"

            response = @http_client.get(
              path: path,
            )

            case response.code.to_i
            when 200
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::QuotaConsumptionResponse.new(**json)
            else
              response
            end
          end

          # Gets the status of a narrowcast message.
          #
          # @param request_id The narrowcast message's request ID. Each Messaging API request has a request ID.
          # @see https://developers.line.biz/en/reference/messaging-api/#get-narrowcast-progress-status
          def get_narrowcast_progress(
            request_id:
          )
            path = "/v2/bot/message/progress/narrowcast"
            query_params = {
              "requestId": request_id
            }.compact

            response = @http_client.get(
              path: path,
              query_params: query_params,
            )

            case response.code.to_i
            when 200
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::NarrowcastProgressResponse.new(**json)
            else
              response
            end
          end

          # Get number of sent broadcast messages
          #
          # @param date Date the messages were sent  Format: yyyyMMdd (e.g. 20191231) Timezone: UTC+9 
          # @see https://developers.line.biz/en/reference/messaging-api/#get-number-of-broadcast-messages
          def get_number_of_sent_broadcast_messages(
            date:
          )
            path = "/v2/bot/message/delivery/broadcast"
            query_params = {
              "date": date
            }.compact

            response = @http_client.get(
              path: path,
              query_params: query_params,
            )

            case response.code.to_i
            when 200
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::NumberOfMessagesResponse.new(**json)
            else
              response
            end
          end

          # Get number of sent multicast messages
          #
          # @param date Date the messages were sent  Format: `yyyyMMdd` (e.g. `20191231`) Timezone: UTC+9 
          # @see https://developers.line.biz/en/reference/messaging-api/#get-number-of-multicast-messages
          def get_number_of_sent_multicast_messages(
            date:
          )
            path = "/v2/bot/message/delivery/multicast"
            query_params = {
              "date": date
            }.compact

            response = @http_client.get(
              path: path,
              query_params: query_params,
            )

            case response.code.to_i
            when 200
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::NumberOfMessagesResponse.new(**json)
            else
              response
            end
          end

          # Get number of sent push messages
          #
          # @param date Date the messages were sent  Format: `yyyyMMdd` (e.g. `20191231`) Timezone: UTC+9 
          # @see https://developers.line.biz/en/reference/messaging-api/#get-number-of-push-messages
          def get_number_of_sent_push_messages(
            date:
          )
            path = "/v2/bot/message/delivery/push"
            query_params = {
              "date": date
            }.compact

            response = @http_client.get(
              path: path,
              query_params: query_params,
            )

            case response.code.to_i
            when 200
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::NumberOfMessagesResponse.new(**json)
            else
              response
            end
          end

          # Get number of sent reply messages
          #
          # @param date Date the messages were sent  Format: `yyyyMMdd` (e.g. `20191231`) Timezone: UTC+9 
          # @see https://developers.line.biz/en/reference/messaging-api/#get-number-of-reply-messages
          def get_number_of_sent_reply_messages(
            date:
          )
            path = "/v2/bot/message/delivery/reply"
            query_params = {
              "date": date
            }.compact

            response = @http_client.get(
              path: path,
              query_params: query_params,
            )

            case response.code.to_i
            when 200
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::NumberOfMessagesResponse.new(**json)
            else
              response
            end
          end

          # Get number of sent LINE notification messages　
          #
          # @param date Date the message was sent  Format: `yyyyMMdd` (Example:`20211231`) Time zone: UTC+9 
          # @see https://developers.line.biz/en/reference/partner-docs/#get-number-of-sent-line-notification-messages
          def get_pnp_message_statistics(
            date:
          )
            path = "/v2/bot/message/delivery/pnp"
            query_params = {
              "date": date
            }.compact

            response = @http_client.get(
              path: path,
              query_params: query_params,
            )

            case response.code.to_i
            when 200
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::NumberOfMessagesResponse.new(**json)
            else
              response
            end
          end

          # Get profile
          #
          # @param user_id User ID
          # @see https://developers.line.biz/en/reference/messaging-api/#get-profile
          def get_profile(
            user_id:
          )
            path = "/v2/bot/profile/{userId}"
              .gsub(/{userId}/, user_id)

            response = @http_client.get(
              path: path,
            )

            case response.code.to_i
            when 200
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::UserProfileResponse.new(**json)
            else
              response
            end
          end

          # Gets a rich menu via a rich menu ID.
          #
          # @param rich_menu_id ID of a rich menu
          # @see https://developers.line.biz/en/reference/messaging-api/#get-rich-menu
          def get_rich_menu(
            rich_menu_id:
          )
            path = "/v2/bot/richmenu/{richMenuId}"
              .gsub(/{richMenuId}/, rich_menu_id)

            response = @http_client.get(
              path: path,
            )

            case response.code.to_i
            when 200
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::RichMenuResponse.new(**json)
            else
              response
            end
          end

          # Get rich menu alias information
          #
          # @param rich_menu_alias_id The rich menu alias ID whose information you want to obtain.
          # @see https://developers.line.biz/en/reference/messaging-api/#get-rich-menu-alias-by-id
          def get_rich_menu_alias(
            rich_menu_alias_id:
          )
            path = "/v2/bot/richmenu/alias/{richMenuAliasId}"
              .gsub(/{richMenuAliasId}/, rich_menu_alias_id)

            response = @http_client.get(
              path: path,
            )

            case response.code.to_i
            when 200
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::RichMenuAliasResponse.new(**json)
            else
              response
            end
          end

          # Get list of rich menu alias
          #
          # @see https://developers.line.biz/en/reference/messaging-api/#get-rich-menu-alias-list
          def get_rich_menu_alias_list(
          )
            path = "/v2/bot/richmenu/alias/list"

            response = @http_client.get(
              path: path,
            )

            case response.code.to_i
            when 200
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::RichMenuAliasListResponse.new(**json)
            else
              response
            end
          end

          # Get the status of Replace or unlink a linked rich menus in batches.
          #
          # @param request_id A request ID used to batch control the rich menu linked to the user. Each Messaging API request has a request ID.
          # @see https://developers.line.biz/en/reference/messaging-api/#get-batch-control-rich-menus-progress-status
          def get_rich_menu_batch_progress(
            request_id:
          )
            path = "/v2/bot/richmenu/progress/batch"
            query_params = {
              "requestId": request_id
            }.compact

            response = @http_client.get(
              path: path,
              query_params: query_params,
            )

            case response.code.to_i
            when 200
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::RichMenuBatchProgressResponse.new(**json)
            else
              response
            end
          end

          # Get rich menu ID of user
          #
          # @param user_id User ID. Found in the `source` object of webhook event objects. Do not use the LINE ID used in LINE.
          # @see https://developers.line.biz/en/reference/messaging-api/#get-rich-menu-id-of-user
          def get_rich_menu_id_of_user(
            user_id:
          )
            path = "/v2/bot/user/{userId}/richmenu"
              .gsub(/{userId}/, user_id)

            response = @http_client.get(
              path: path,
            )

            case response.code.to_i
            when 200
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::RichMenuIdResponse.new(**json)
            else
              response
            end
          end

          # Get rich menu list
          #
          # @see https://developers.line.biz/en/reference/messaging-api/#get-rich-menu-list
          def get_rich_menu_list(
          )
            path = "/v2/bot/richmenu/list"

            response = @http_client.get(
              path: path,
            )

            case response.code.to_i
            when 200
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::RichMenuListResponse.new(**json)
            else
              response
            end
          end

          # Get number of users in a multi-person chat
          #
          # @param room_id Room ID
          # @see https://developers.line.biz/en/reference/messaging-api/#get-members-room-count
          def get_room_member_count(
            room_id:
          )
            path = "/v2/bot/room/{roomId}/members/count"
              .gsub(/{roomId}/, room_id)

            response = @http_client.get(
              path: path,
            )

            case response.code.to_i
            when 200
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::RoomMemberCountResponse.new(**json)
            else
              response
            end
          end

          # Get multi-person chat member profile
          #
          # @param room_id Room ID
          # @param user_id User ID
          # @see https://developers.line.biz/en/reference/messaging-api/#get-room-member-profile
          def get_room_member_profile(
            room_id:,
            user_id:
          )
            path = "/v2/bot/room/{roomId}/member/{userId}"
              .gsub(/{roomId}/, room_id)
              .gsub(/{userId}/, user_id)

            response = @http_client.get(
              path: path,
            )

            case response.code.to_i
            when 200
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::RoomUserProfileResponse.new(**json)
            else
              response
            end
          end

          # Get multi-person chat member user IDs
          #
          # @param room_id Room ID
          # @param start Value of the continuation token found in the `next` property of the JSON object returned in the response. Include this parameter to get the next array of user IDs for the members of the group. 
          # @see https://developers.line.biz/en/reference/messaging-api/#get-room-member-user-ids
          def get_room_members_ids(
            room_id:,
            start: nil
          )
            path = "/v2/bot/room/{roomId}/members/ids"
              .gsub(/{roomId}/, room_id)
            query_params = {
              "start": start
            }.compact

            response = @http_client.get(
              path: path,
              query_params: query_params,
            )

            case response.code.to_i
            when 200
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::MembersIdsResponse.new(**json)
            else
              response
            end
          end

          # Get webhook endpoint information
          #
          # @see https://developers.line.biz/en/reference/messaging-api/#get-webhook-endpoint-information
          def get_webhook_endpoint(
          )
            path = "/v2/bot/channel/webhook/endpoint"

            response = @http_client.get(
              path: path,
            )

            case response.code.to_i
            when 200
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::GetWebhookEndpointResponse.new(**json)
            else
              response
            end
          end

          # Issue link token
          #
          # @param user_id User ID for the LINE account to be linked. Found in the `source` object of account link event objects. Do not use the LINE ID used in LINE. 
          # @see https://developers.line.biz/en/reference/messaging-api/#issue-link-token
          def issue_link_token(
            user_id:
          )
            path = "/v2/bot/user/{userId}/linkToken"
              .gsub(/{userId}/, user_id)

            response = @http_client.post(
              path: path,
            )

            case response.code.to_i
            when 200
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::IssueLinkTokenResponse.new(**json)
            else
              response
            end
          end

          # Leave group chat
          #
          # @param group_id Group ID
          # @see https://developers.line.biz/en/reference/messaging-api/#leave-group
          def leave_group(
            group_id:
          )
            path = "/v2/bot/group/{groupId}/leave"
              .gsub(/{groupId}/, group_id)

            response = @http_client.post(
              path: path,
            )

            case response.code.to_i
            when 200
              response
            when 400
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::ErrorResponse.new(**json)
            when 404
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::ErrorResponse.new(**json)
            else
              response
            end
          end

          # Leave multi-person chat
          #
          # @param room_id Room ID
          # @see https://developers.line.biz/en/reference/messaging-api/#leave-room
          def leave_room(
            room_id:
          )
            path = "/v2/bot/room/{roomId}/leave"
              .gsub(/{roomId}/, room_id)

            response = @http_client.post(
              path: path,
            )

            case response.code.to_i
            when 200
              response
            else
              response
            end
          end

          # Link rich menu to user.
          #
          # @param user_id User ID. Found in the `source` object of webhook event objects. Do not use the LINE ID used in LINE.
          # @param rich_menu_id ID of a rich menu
          # @see https://developers.line.biz/en/reference/messaging-api/#link-rich-menu-to-user
          def link_rich_menu_id_to_user(
            user_id:,
            rich_menu_id:
          )
            path = "/v2/bot/user/{userId}/richmenu/{richMenuId}"
              .gsub(/{userId}/, user_id)
              .gsub(/{richMenuId}/, rich_menu_id)

            response = @http_client.post(
              path: path,
            )

            case response.code.to_i
            when 200
              response
            else
              response
            end
          end

          # Link rich menu to multiple users
          #
          # @param rich_menu_bulk_link_request 
          # @see https://developers.line.biz/en/reference/messaging-api/#link-rich-menu-to-users
          def link_rich_menu_id_to_users(
            rich_menu_bulk_link_request:
          )
            path = "/v2/bot/richmenu/bulk/link"

            response = @http_client.post(
              path: path,
              body_params: rich_menu_bulk_link_request,
            )

            case response.code.to_i
            when 202
              response
            else
              response
            end
          end

          # Mark messages from users as read
          #
          # @param mark_messages_as_read_request 
          # @see https://developers.line.biz/en/reference/partner-docs/#mark-messages-from-users-as-read
          def mark_messages_as_read(
            mark_messages_as_read_request:
          )
            path = "/v2/bot/message/markAsRead"

            response = @http_client.post(
              path: path,
              body_params: mark_messages_as_read_request,
            )

            case response.code.to_i
            when 200
              response
            else
              response
            end
          end

          # An API that efficiently sends the same message to multiple user IDs. You can't send messages to group chats or multi-person chats.
          #
          # @param multicast_request 
          # @param x_line_retry_key Retry key. Specifies the UUID in hexadecimal format (e.g., `123e4567-e89b-12d3-a456-426614174000`) generated by any method. The retry key isn't generated by LINE. Each developer must generate their own retry key. 
          # @see https://developers.line.biz/en/reference/messaging-api/#send-multicast-message
          def multicast(
            multicast_request:,
            x_line_retry_key: nil
          )
            path = "/v2/bot/message/multicast"
            header_params = {
              "X-Line-Retry-Key": x_line_retry_key
            }.compact

            response = @http_client.post(
              path: path,
              body_params: multicast_request,
              headers: header_params
            )

            case response.code.to_i
            when 200
              response
            when 400
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::ErrorResponse.new(**json)
            when 403
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::ErrorResponse.new(**json)
            when 409
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::ErrorResponse.new(**json)
            when 429
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::ErrorResponse.new(**json)
            else
              response
            end
          end

          # Send narrowcast message
          #
          # @param narrowcast_request 
          # @param x_line_retry_key Retry key. Specifies the UUID in hexadecimal format (e.g., `123e4567-e89b-12d3-a456-426614174000`) generated by any method. The retry key isn't generated by LINE. Each developer must generate their own retry key. 
          # @see https://developers.line.biz/en/reference/messaging-api/#send-narrowcast-message
          def narrowcast(
            narrowcast_request:,
            x_line_retry_key: nil
          )
            path = "/v2/bot/message/narrowcast"
            header_params = {
              "X-Line-Retry-Key": x_line_retry_key
            }.compact

            response = @http_client.post(
              path: path,
              body_params: narrowcast_request,
              headers: header_params
            )

            case response.code.to_i
            when 202
              response
            when 400
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::ErrorResponse.new(**json)
            when 403
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::ErrorResponse.new(**json)
            when 409
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::ErrorResponse.new(**json)
            when 429
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::ErrorResponse.new(**json)
            else
              response
            end
          end

          # Sends a message to a user, group chat, or multi-person chat at any time.
          #
          # @param push_message_request 
          # @param x_line_retry_key Retry key. Specifies the UUID in hexadecimal format (e.g., `123e4567-e89b-12d3-a456-426614174000`) generated by any method. The retry key isn't generated by LINE. Each developer must generate their own retry key. 
          # @see https://developers.line.biz/en/reference/messaging-api/#send-push-message
          def push_message(
            push_message_request:,
            x_line_retry_key: nil
          )
            path = "/v2/bot/message/push"
            header_params = {
              "X-Line-Retry-Key": x_line_retry_key
            }.compact

            response = @http_client.post(
              path: path,
              body_params: push_message_request,
              headers: header_params
            )

            case response.code.to_i
            when 200
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::PushMessageResponse.new(**json)
            when 400
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::ErrorResponse.new(**json)
            when 403
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::ErrorResponse.new(**json)
            when 409
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::ErrorResponse.new(**json)
            when 429
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::ErrorResponse.new(**json)
            else
              response
            end
          end

          # Send LINE notification message
          #
          # @param pnp_messages_request 
          # @param x_line_delivery_tag String returned in the delivery.data property of the delivery completion event via Webhook.
          # @see https://developers.line.biz/en/reference/partner-docs/#send-line-notification-message
          def push_messages_by_phone(
            pnp_messages_request:,
            x_line_delivery_tag: nil
          )
            path = "/bot/pnp/push"
            header_params = {
              "X-Line-Delivery-Tag": x_line_delivery_tag
            }.compact

            response = @http_client.post(
              path: path,
              body_params: pnp_messages_request,
              headers: header_params
            )

            case response.code.to_i
            when 200
              response
            when 422
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::ErrorResponse.new(**json)
            else
              response
            end
          end

          # Send reply message
          #
          # @param reply_message_request 
          # @see https://developers.line.biz/en/reference/messaging-api/#send-reply-message
          def reply_message(
            reply_message_request:
          )
            path = "/v2/bot/message/reply"

            response = @http_client.post(
              path: path,
              body_params: reply_message_request,
            )

            case response.code.to_i
            when 200
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::ReplyMessageResponse.new(**json)
            when 400
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::ErrorResponse.new(**json)
            when 429
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::ErrorResponse.new(**json)
            else
              response
            end
          end

          # You can use this endpoint to batch control the rich menu linked to the users using the endpoint such as Link rich menu to user.  The following operations are available:  1. Replace a rich menu with another rich menu for all users linked to a specific rich menu 2. Unlink a rich menu for all users linked to a specific rich menu 3. Unlink a rich menu for all users linked the rich menu 
          #
          # @param rich_menu_batch_request 
          # @see https://developers.line.biz/en/reference/messaging-api/#batch-control-rich-menus-of-users
          def rich_menu_batch(
            rich_menu_batch_request:
          )
            path = "/v2/bot/richmenu/batch"

            response = @http_client.post(
              path: path,
              body_params: rich_menu_batch_request,
            )

            case response.code.to_i
            when 202
              response
            else
              response
            end
          end

          # Set default rich menu
          #
          # @param rich_menu_id ID of a rich menu
          # @see https://developers.line.biz/en/reference/messaging-api/#set-default-rich-menu
          def set_default_rich_menu(
            rich_menu_id:
          )
            path = "/v2/bot/user/all/richmenu/{richMenuId}"
              .gsub(/{richMenuId}/, rich_menu_id)

            response = @http_client.post(
              path: path,
            )

            case response.code.to_i
            when 200
              response
            else
              response
            end
          end

          # Set webhook endpoint URL
          #
          # @param set_webhook_endpoint_request 
          # @see https://developers.line.biz/en/reference/messaging-api/#set-webhook-endpoint-url
          def set_webhook_endpoint(
            set_webhook_endpoint_request:
          )
            path = "/v2/bot/channel/webhook/endpoint"

            response = @http_client.put(
              path: path,
              body_params: set_webhook_endpoint_request,
            )

            case response.code.to_i
            when 200
              response
            else
              response
            end
          end

          # Display a loading animation in one-on-one chats between users and LINE Official Accounts.
          #
          # @param show_loading_animation_request 
          # @see https://developers.line.biz/en/reference/messaging-api/#display-a-loading-indicator
          def show_loading_animation(
            show_loading_animation_request:
          )
            path = "/v2/bot/chat/loading/start"

            response = @http_client.post(
              path: path,
              body_params: show_loading_animation_request,
            )

            case response.code.to_i
            when 202
              response
            when 400
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::ErrorResponse.new(**json)
            else
              response
            end
          end

          # Test webhook endpoint
          #
          # @param test_webhook_endpoint_request 
          # @see https://developers.line.biz/en/reference/messaging-api/#test-webhook-endpoint
          def test_webhook_endpoint(
            test_webhook_endpoint_request: nil
          )
            path = "/v2/bot/channel/webhook/test"

            response = @http_client.post(
              path: path,
              body_params: test_webhook_endpoint_request,
            )

            case response.code.to_i
            when 200
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::TestWebhookEndpointResponse.new(**json)
            else
              response
            end
          end

          # Unlink rich menu from user
          #
          # @param user_id User ID. Found in the `source` object of webhook event objects. Do not use the LINE ID used in LINE.
          # @see https://developers.line.biz/en/reference/messaging-api/#unlink-rich-menu-from-user
          def unlink_rich_menu_id_from_user(
            user_id:
          )
            path = "/v2/bot/user/{userId}/richmenu"
              .gsub(/{userId}/, user_id)

            response = @http_client.delete(
              path: path,
            )

            case response.code.to_i
            when 200
              response
            else
              response
            end
          end

          # Unlink rich menus from multiple users
          #
          # @param rich_menu_bulk_unlink_request 
          # @see https://developers.line.biz/en/reference/messaging-api/#unlink-rich-menu-from-users
          def unlink_rich_menu_id_from_users(
            rich_menu_bulk_unlink_request:
          )
            path = "/v2/bot/richmenu/bulk/unlink"

            response = @http_client.post(
              path: path,
              body_params: rich_menu_bulk_unlink_request,
            )

            case response.code.to_i
            when 202
              response
            else
              response
            end
          end

          # Update rich menu alias
          #
          # @param rich_menu_alias_id The rich menu alias ID you want to update.
          # @param update_rich_menu_alias_request 
          # @see https://developers.line.biz/en/reference/messaging-api/#update-rich-menu-alias
          def update_rich_menu_alias(
            rich_menu_alias_id:,
            update_rich_menu_alias_request:
          )
            path = "/v2/bot/richmenu/alias/{richMenuAliasId}"
              .gsub(/{richMenuAliasId}/, rich_menu_alias_id)

            response = @http_client.post(
              path: path,
              body_params: update_rich_menu_alias_request,
            )

            case response.code.to_i
            when 200
              response
            when 400
              json = Line::Bot::V2::Utils.deep_underscore(JSON.parse(response.body))
              json.transform_keys! do |key|
                Line::Bot::V2::RESERVED_WORDS.include?(key) ? "_#{key}".to_sym : key
              end
              Line::Bot::V2::MessagingApi::ErrorResponse.new(**json)
            else
              response
            end
          end

          # Validate message objects of a broadcast message
          #
          # @param validate_message_request 
          # @see https://developers.line.biz/en/reference/messaging-api/#validate-message-objects-of-broadcast-message
          def validate_broadcast(
            validate_message_request:
          )
            path = "/v2/bot/message/validate/broadcast"

            response = @http_client.post(
              path: path,
              body_params: validate_message_request,
            )

            case response.code.to_i
            when 200
              response
            else
              response
            end
          end

          # Validate message objects of a multicast message
          #
          # @param validate_message_request 
          # @see https://developers.line.biz/en/reference/messaging-api/#validate-message-objects-of-multicast-message
          def validate_multicast(
            validate_message_request:
          )
            path = "/v2/bot/message/validate/multicast"

            response = @http_client.post(
              path: path,
              body_params: validate_message_request,
            )

            case response.code.to_i
            when 200
              response
            else
              response
            end
          end

          # Validate message objects of a narrowcast message
          #
          # @param validate_message_request 
          # @see https://developers.line.biz/en/reference/messaging-api/#validate-message-objects-of-narrowcast-message
          def validate_narrowcast(
            validate_message_request:
          )
            path = "/v2/bot/message/validate/narrowcast"

            response = @http_client.post(
              path: path,
              body_params: validate_message_request,
            )

            case response.code.to_i
            when 200
              response
            else
              response
            end
          end

          # Validate message objects of a push message
          #
          # @param validate_message_request 
          # @see https://developers.line.biz/en/reference/messaging-api/#validate-message-objects-of-push-message
          def validate_push(
            validate_message_request:
          )
            path = "/v2/bot/message/validate/push"

            response = @http_client.post(
              path: path,
              body_params: validate_message_request,
            )

            case response.code.to_i
            when 200
              response
            else
              response
            end
          end

          # Validate message objects of a reply message
          #
          # @param validate_message_request 
          # @see https://developers.line.biz/en/reference/messaging-api/#validate-message-objects-of-reply-message
          def validate_reply(
            validate_message_request:
          )
            path = "/v2/bot/message/validate/reply"

            response = @http_client.post(
              path: path,
              body_params: validate_message_request,
            )

            case response.code.to_i
            when 200
              response
            else
              response
            end
          end

          # Validate a request body of the Replace or unlink the linked rich menus in batches endpoint.
          #
          # @param rich_menu_batch_request 
          # @see https://developers.line.biz/en/reference/messaging-api/#validate-batch-control-rich-menus-request
          def validate_rich_menu_batch_request(
            rich_menu_batch_request:
          )
            path = "/v2/bot/richmenu/validate/batch"

            response = @http_client.post(
              path: path,
              body_params: rich_menu_batch_request,
            )

            case response.code.to_i
            when 200
              response
            else
              response
            end
          end

          # Validate rich menu object
          #
          # @param rich_menu_request 
          # @see https://developers.line.biz/en/reference/messaging-api/#validate-rich-menu-object
          def validate_rich_menu_object(
            rich_menu_request:
          )
            path = "/v2/bot/richmenu/validate"

            response = @http_client.post(
              path: path,
              body_params: rich_menu_request,
            )

            case response.code.to_i
            when 200
              response
            else
              response
            end
          end
        end
      end
    end
  end
end
