name: Pull Request CI

on:
  push:
  pull_request:
  merge_group:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # https://www.ruby-lang.org/en/downloads/branches/
        ruby: [ '3.1', '3.2', '3.3' ]
    name: Ruby v${{ matrix.ruby }}
    steps:
    - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: ${{ matrix.ruby }}
    - run: gem install bundler
    - run: bundle install
    - run: bundle exec rubocop
    - run: bundle exec rspec
