name: Pull Request CI

on:
  push:
  pull_request:
  merge_group:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    strategy:
      matrix:
        # https://www.ruby-lang.org/en/downloads/branches/
        ruby:
          - '3.2'
          - '3.3'
    name: Ruby v${{ matrix.ruby }}
    steps:
    - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      with:
        submodules: true
    - uses: ruby/setup-ruby@354a1ad156761f5ee2b7b13fa8e09943a5e8d252 # v1.229.0
      with:
        ruby-version: ${{ matrix.ruby }}
    - uses: actions/setup-java@c5195efecf7bdfc987ee8bae7a71cb8b11521c00 # v4.7.1
      with:
        distribution: 'temurin'
        java-version: 17
        architecture: x64
    - run: python3 generate-code.py
    - run: gem install bundler
    - run: bundle install
    - run: bundle exec rubocop
    - run: rake test
    - run: bundle exec yard stats ./lib/line/bot/v2 --fail-on-warning
    - run: bundle exec rbs collection install
    - run: bundle exec rbs -I sig validate

  pinact:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - name: Run pinact
        uses: suzuki-shunsuke/pinact-action@49cbd6acd0dbab6a6be2585d1dbdaa43b4410133 # v1.0.0
        with:
          skip_push: "true"
